.highlight
    color: #abb2bf
    background: #282c34
    .code
        .tag,
        .keyword,
        .selector-tag,
        .literal,
        .strong,
        .name
            color: #e06c75

        .code
            color: #61afef

        .class .title
            color: #e5c07b

        .attribute,
        .symbol,
        .regexp,
        .link
            color: #c678dd

        .string,
        .bullet,
        .subst,
        .title,
        .section,
        .emphasis,
        .type,
        .built_in,
        .builtin-name,
        .selector-attr,
        .selector-pseudo,
        .addition,
        .variable,
        .template-tag,
        .template-variable
            color: #98c379

        .comment,
        .quote,
        .deletion,
        .meta
            color: rgb(60,179,113)

        .keyword,
        .selector-tag,
        .literal,
        .doctag,
        .title,
        .section,
        .type,
        .selector-id
            font-weight: bold
